/*Backgrounds*/
.home.page-background {
  background-image: url("../../../assets/home/background-home-mobile.jpg");
}

@media (min-width: 768px) {
  .home.page-background {
    background-image: url("../../../assets/home/background-home-tablet.jpg");
  }
}

@media (min-width: 1440px) {
  .home.page-background {
    background-image: url("../../../assets/home/background-home-desktop.jpg");
  }
}

.content {
  margin: 2rem auto 0 auto;
  max-width: 350px;
}

.content .intro {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2.7px;
  color: #d0d6f9;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 1.5rem;
}

h2 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 100px; /* identical to box height, or 125% */
  text-align: center;
  color: #ffffff;
  margin-bottom: 1.5rem !important;
}

.home-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px; /* or 167% */
  text-align: center;
  color: #d0d6f9;
  padding: 0 1rem;
}

.action {
  text-decoration: none;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fff;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px; /* identical to box height */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  letter-spacing: 1.25px;
  color: #0b0d17;
}

.action:hover {
  box-shadow: 0 0 10px 2px;
}

.action-container {
  padding-top: 5rem;
}

@media (min-width: 768px) {
  .content {
    margin-top: 150px;
    max-width: 450px;
  }
}

@media (min-width: 1440px) {
  .content {
    display: flex;
    align-items: flex-end;
    max-width: unset;
  }
  .text-container {
    width: 50%;
  }

  .text-container * {
    max-width: 375px;
    margin: 0 auto;
  }

  .action-container {
    align-items: center;
    width: 50%;
  }

  .action {
    width: 275px;
    height: 275px;
  }
}
