<div class="home page-background"></div>
<div class="content">
  <div class="text-container">
    <span class="intro">So, you want to travel to</span>
    <h2>SPACE</h2>
    <p class="home-text">
      Let’s face it; if you want to go to space, you might as well genuinely go
      to outer space and not hover kind of on the edge of it. Well sit back, and
      relax because we’ll give you a truly out of this world experience!
    </p>
  </div>

  <div class="action-container">
    <a routerLink="/destination" class="action">EXPLORE</a>
  </div>
</div>
