<div class="nav">
  <div>
    <a
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      ><span class="link-decorator">00</span>Home</a
    >
  </div>

  <div>
    <a routerLink="/destination" routerLinkActive="active"
      ><span class="link-decorator">01</span>Destination</a
    >
  </div>

  <div>
    <a routerLink="/crew" routerLinkActive="active"
      ><span class="link-decorator">02</span>Crew</a
    >
  </div>

  <div>
    <a routerLink="/technology" routerLinkActive="active"
      ><span class="link-decorator">03</span>Technology</a
    >
  </div>
</div>
