/*Backgrounds*/
.technology.page-background {
  background-image: url("../../../assets/technology/background-technology-mobile.jpg");
}

@media (min-width: 768px) {
  .technology.page-background {
    background-image: url("../../../assets/technology/background-technology-tablet.jpg");
  }
}

@media (min-width: 1440px) {
  .technology.page-background {
    background-image: url("../../../assets/technology/background-technology-desktop.jpg");
  }
}

.display .landscape {
  height: auto;
  width: 100vw;
}

.display .portrait {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  margin: 1.5rem auto;
}

.nav .technology {
  width: 40px;
  height: 40px;
  background-color: unset;
  border: dashed 1px rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  color: #ffffff;
  font-family: Bellefair;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
}

.nav .technology.active {
  border: none;
  background-color: #ffffff;
  color: #0b0d17;
}

.details .text {
  color: #d0d6f9;
  font-family: "Barlow Condensed";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  letter-spacing: 2.3625px;
  display: block;
}

.details h2 {
  color: #ffffff;
  font-family: Bellefair;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
}

.details p {
  color: #d0d6f9;
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  margin: 0 2rem;
}

@media (min-width: 768px) {
  .display {
    margin: 2.5rem 0;
  }

  .display .landscape {
    height: auto;
  }

  .nav {
    width: 30%;
  }

  .nav .technology {
    width: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.5px;
  }

  .details .text {
    font-size: 16px;
    line-height: 19px;
  }

  .details h2 {
    font-size: 40px;
    line-height: 46px;
  }

  .details p {
    margin: 0 20%;
    font-size: 16px;
    line-height: 28px;
  }
}

@media (min-width: 1440px) {
  .flex-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .desktop-left {
    width: 34%;
  }

  .desktop-right {
    width: 66%;
  }

  .display .landscape {
    display: none;
  }

  .display .portrait {
    display: block;
    width: 515px;
    height: auto;
  }

  .desktop-right {
    display: flex;
    align-items: baseline;
  }
  .page-nav {
    width: 30%;
  }
  .details {
    width: 70%;
  }
  .nav {
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
  }

  .nav .technology {
    width: 80px;
    height: 80px;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  .details .text,
  .details h2,
  .details p {
    text-align: unset;
  }

  .details .text {
    font-size: 16px;
    line-height: 19px;
  }

  .details h2 {
    font-size: 56px;
    line-height: 64px;
  }

  .details p {
    margin-left: 0;
    font-size: 18px;
    line-height: 32px;
  }
}
